.loginCard {
    width: 40%;
    background-color: rgba(202, 200, 234, 0.7);
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
