
.settingsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 25px;
}


.settingsInfo,
.settingsForm {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.settingsItem {
    display: flex;
    flex-direction: column;
}


.settingsValue {
    color: white;
    font: 400 22px "Fira Sans", sans-serif;
    margin: 0;
}

.settingsSaveButton {
    min-width: 140px;
}

.logoutButton {
    width: 50%;
    max-width: 150px;
    margin: 0 auto;

    background: #d84c4c;
    color: white;
    box-shadow: 0 8px 24px rgba(95, 75, 164, 0.45);
}

.logoutButton:hover {
    background: #bf3939;
    transform: translateY(-3px);
}

@media (max-width: 768px) {

    .settingsCard {
        padding: 30px;
    }

    .settingsHeader {
        flex-direction: column;
        gap: 15px;
        align-items: stretch;
    }

    .settingsTitle {
        text-align: center;
        font-size: 44px;
    }

    .settingsSaveButton {
        width: 100%;
    }

    .logoutButton {
        width: 100%;
    }
}


/* Signup specific styles */



.buttonContainerCenter {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.authLink {
    margin-top: 20px;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    color: #5F4BA4;
    text-decoration: none;
    font-weight: 600;
}

.authLink:hover {
    text-decoration: underline;
}
